---
---

/* ========================================================= Main ===*/
html, body{
    background-color: #f9f9f9;
    background-color: #22262e;
    color: #373737;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.45;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    -webkit-animation: 2.5s ease;
  	-moz-animation: 2.5s ease;
  	-ms-animation: 2.5s ease;
  	-o-animation: 2.5s ease;
  	animation: 2.5s ease;
  	-webkit-animation-name: fadeIn;
  	-moz-animation-name: fadeIn;
  	-ms-animation-name: fadeIn;
  	-o-animation-name: fadeIn;
  	animation-name: fadeIn;
}
/* ========================================================= Header ===*/
header{
  padding: 60px 0 0px;
  img{
    display: block;
    margin: 0 auto;
  }
}
/* ------
-- Nav --
------ */
nav{
  ul{
    li{
      a{

      }
    }
  }
}
/* ========================================================= Main ===*/

/* ========================================================= Map ===*/
#map{
  min-height: 300px;
}
.candidates{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  bottom: -40px;
  z-index: 1941;
  max-width: 1000px;
  li{
    cursor: pointer;
    float: left;
    margin: 0;
    padding: 0;
    width: 16%;
    span{
      display: block;
      margin: 0 0 5px;
      padding: 0 8%;
      img{
        border: 2px solid #22262e;
        -webkit-transition: all .25s ease; /* Safari and Chrome */
    -moz-transition: all .25s ease; /* Firefox */
    -ms-transition: all .25s ease; /* IE 9 */
    -o-transition: all .25s ease; /* Opera */
    transition: all .25s ease;
      }
    }
    .name{
      color: rgba(255,255,255,0.7);
      display: block;
      font-size: 12px;
      text-align: center;
    }
    &:hover{
      img{
        border: 2px solid #F44336;
        border-radius: 80px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.7);
        zoom: 1;
        -webkit-transform:scale(1.10); /* Safari and Chrome */
        -moz-transform:scale(1.10); /* Firefox */
        -ms-transform:scale(1.10); /* IE 9 */
        -o-transform:scale(1.10); /* Opera */
         transform:scale(1.10);
      }
    }
  }
  .active{
    img{
      border: 2px solid #F44336;
      border-radius: 80px;
      box-shadow: 0 1px 5px rgba(0,0,0,0.7);
    }
  }
}
#map{
  width: 100%;
  svg{
    left: 0;
  }
}
/* ========================================================= Source ===*/
.source{
  background-color: #fff;
  padding: 60px 0 20px;
  p{
    margin: 0 0 60px;
  }
  h2{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 20px;
  }
  h3{
    font-size: 18px;
    margin: 0 0 10px;
  }
  ul{
    background-color: #f7f7f7;
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    li{
      margin: 0;
      padding: 5px 10px;
      word-wrap: break-word;
      &:nth-child(even){
        background-color: #eee;
      }
      span{
        background-color: #ffffa9;
      }
    }
  }
  .note{
    color: #ccc;
    font-size: 12px;
    a{
      color: #aaa;
    }
  }
}
.credit{
  background-color: #f7f7f7;
  padding: 20px 0;
  text-align: center;
  h2{
    display: inline-block;
    color: #999;
    font-size: 16px;
  }
}
/* ========================================================= Footer ===*/

/* ========================================================= Respond ===*/
@media all and (min-width: 41em){
  body{font-size: 1.125em;}
  .container{
    padding-left: 1em;
    padding-right: 1em;
  }
  .row{
    margin-left: -1em;
    margin-right: -1em;
  }
  .col-12 { width: 100%; }
  .col-9 { width: 75%; }
  .col-8 { width: 66.7%; }
  .col-6 { width: 50%; }
  .col-4 { width: 33.3%; }
  .col-3 { width: 25%; }

}
@media all and (min-width: 960px){
  .candidates{
    bottom: -60px;
    li{
      width: 8%;
    }
  }
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
