<div class="candidates">
  <div class="container">
  <h4>View each candidates details</h4>
  <ul>
    <li><a href="/bush/"><img src="{{ site.baseurl }}/assets/images/candidates/bush.png" /></a></li>
    <li><a href="/carson/"><img src="{{ site.baseurl }}/assets/images/candidates/carson.png"/></a></li>
    <li><a href="/christie/"><img src="{{ site.baseurl }}/assets/images/candidates/christie.png"/></a></li>
    <li><a href="/cruz/"><img src="{{ site.baseurl }}/assets/images/candidates/cruz.png"/></a></li>
    <li><a href="/huckabee/"><img src="{{ site.baseurl }}/assets/images/candidates/huckabee.png"/></a></li>
    <li><a href="/kasich/"><img src="{{ site.baseurl }}/assets/images/candidates/kasich.png"/></a></li>
    <li><a href="/paul/"><img src="{{ site.baseurl }}/assets/images/candidates/paul.png"/></a></li>
    <li><a href="/rubio/"><img src="{{ site.baseurl }}/assets/images/candidates/rubio.png"/></a></li>
    <li><a href="/trump/"><img src="{{ site.baseurl }}/assets/images/candidates/trump.png"/></a></li>
    <li><a href="/walker/"><img src="{{ site.baseurl }}/assets/images/candidates/walker.png"/></a></li>
  </ul>
  </div><!--/container-->
</div><!--/candidates-->

</body>
</html>
