<div class="candidates">
  <div class="container">
  <h4>View each candidates details</h4>
  <ul>
    <li><a href="/bush/">{% image candidates/bush.png %}</a></li>
    <li><a href="/carson/">{% image candidates/carson.png %}</a></li>
    <li><a href="/christie/">{% image candidates/christie.png %}</a></li>
    <li><a href="/cruz/">{% image candidates/cruz.png %}</a></li>
    <li><a href="/huckabee/">{% image candidates/huckabee.png %}</a></li>
    <li><a href="/kasich/">{% image candidates/kasich.png %}</a></li>
    <li><a href="/paul/">{% image candidates/paul.png %}</a></li>
    <li><a href="/rubio/">{% image candidates/rubio.png %}</a></li>
    <li><a href="/trump/">{% image candidates/trump.png %}</a></li>
    <li><a href="/walker/">{% image candidates/walker.png %}</a></li>
  </ul>
  </div><!--/container-->
</div><!--/candidates-->

<footer>
  <div class="container">

  </div><!--/container-->
</footer>

<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
{% javascript script %}
</body>
</html>
