<div class="candidates">
  <div class="container">
  <h4>View each candidates' details</h4>
  <ul>
    <li><a href="{{ site.baseurl }}/bush/"><img src="{{ site.baseurl }}/assets/images/candidates/bush.png" /></a></li>
    <li><a href="{{ site.baseurl }}/carson/"><img src="{{ site.baseurl }}/assets/images/candidates/carson.png"/></a></li>
    <li><a href="{{ site.baseurl }}/christie/"><img src="{{ site.baseurl }}/assets/images/candidates/christie.png"/></a></li>
    <li><a href="{{ site.baseurl }}/cruz/"><img src="{{ site.baseurl }}/assets/images/candidates/cruz.png"/></a></li>
    <li><a href="{{ site.baseurl }}/huckabee/"><img src="{{ site.baseurl }}/assets/images/candidates/huckabee.png"/></a></li>
    <li><a href="{{ site.baseurl }}/kasich/"><img src="{{ site.baseurl }}/assets/images/candidates/kasich.png"/></a></li>
    <li><a href="{{ site.baseurl }}/paul/"><img src="{{ site.baseurl }}/assets/images/candidates/paul.png"/></a></li>
    <li><a href="{{ site.baseurl }}/rubio/"><img src="{{ site.baseurl }}/assets/images/candidates/rubio.png"/></a></li>
    <li><a href="{{ site.baseurl }}/trump/"><img src="{{ site.baseurl }}/assets/images/candidates/trump.png"/></a></li>
    <li><a href="{{ site.baseurl }}/walker/"><img src="{{ site.baseurl }}/assets/images/candidates/walker.png"/></a></li>
  </ul>
  </div><!--/container-->
</div><!--/candidates-->

  <div class="container">
<p class="note">Something incorrect? <a href="https://docs.google.com/forms/d/1n1CEk3CzfCgqJyXPQ0_IsHxh_1xyEnrhhb9bQRBLxWw/viewform?c=0&w=1">Please help us out by letting us know.</a></p>
  </div><!--/container-->

</body>
</html>
